<template>
<div id="footer" style="background-image: none; background-position: initial; background-repeat: initial; background-attachment: initial; background-color: rgb(128, 196, 209); margin-bottom: 0px; background-origin: initial; background-clip: initial;"
  data-bg-color="#80C4D1">
  <div class="container">
    <div class="row">
      <div class="bm-col col-md-4">
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper">
                  <h2 data-module="title" id="TIE_7" class="mce-content-body" style="position: relative; text-align: center; font-size: 24px;" spellcheck="false" data-id="5c8e16d68aa4d"><a href="https://www.omnixgolf.com/shoplist" data-mce-href="363167">&#32147;&#37559;&#21830;&#21015;&#34920;</a></h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper" style="text-align: center;">
                  <hr data-module="breaker" data-id="5c34a1a81eb47" style="border-color: rgb(255, 255, 255); width: 40%;" class="bm-breaker-module-medium">
                </div>
                <div class="row">
                  <div class="bm-col col-md-12">
                    <div class="wrapper">
                      <div data-module="spacer" style="height: 28px" class="bm-spacer-wrapper" data-id="5c85d696e8e07"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bm-col col-md-4">
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper">
                  <h2 data-module="title" id="TIE_8" class="mce-content-body" style="position: relative; text-align: center; font-size: 24px;" spellcheck="false" data-id="5c8e16d68aae5"><a href="https://www.omnixgolf.com/team" data-mce-href="363169">&#29699;&#38538;/&#22296;&#39636;&#35330;&#35069;</a></h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper" style="text-align: center;">
                  <hr data-module="breaker" data-id="5c34a1a81eb47" style="border-color: rgb(255, 255, 255); width: 40%;" class="bm-breaker-module-medium">
                </div>
                <div class="row">
                  <div class="bm-col col-md-12">
                    <div class="wrapper">
                      <div data-module="spacer" style="height: 28px" class="bm-spacer-wrapper" data-id="5c85d696e8ead"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bm-col col-md-4">
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper">
                  <h2 data-module="title" id="TIE_9" class="mce-content-body" style="position: relative; text-align: center; font-size: 24px;" spellcheck="false" data-id="5c8e16d68ab7f"><a href="https://www.omnixgolf.com/oem" data-mce-href="363168">&#20195;&#24037;&#29983;&#29986;(OEM)</a></h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="bm-col col-md-12">
                <div class="wrapper" style="text-align: center;">
                  <hr data-module="breaker" data-id="5c34a1a81eb47" style="border-color: rgb(255, 255, 255); width: 40%;" class="bm-breaker-module-medium">
                </div>
                <div class="row">
                  <div class="bm-col col-md-12">
                    <div class="wrapper">
                      <div data-module="spacer" style="height: 28px" class="bm-spacer-wrapper" data-id="5c85d696e8f37"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bm-col col-md-12">
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="wrapper" style="text-align: center;">
              <h1 data-module="title" data-di="titleBold" id="TIE_10" class="mce-content-body" style="position: relative; font-size: 24px;" spellcheck="false" data-id="5c34a1a81f293"><strong><span style="vertical-align: inherit;" data-mce-style="vertical-align: inherit;"><span
                      style="vertical-align: inherit;" data-mce-style="vertical-align: inherit;">&#20445;&#25345;&#32879;&#32363;</span></span></strong></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="wrapper" style="text-align: center;">
              <hr data-module="breaker" data-id="5c34a1a81eb47" style="border-color: rgb(255, 255, 255); width: 10%;" class="bm-breaker-module-medium">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bm-col col-md-12">
        <div class="wrapper" style="text-align: center;">
          <ul class="social_media bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-module bm-social-size-xl bm-social-color bm-social-rounded bm-social-module"
            data-module="social_media" data-di="social" data-id="5c34a1a81f37c">
            <li class="bm-social-facebook"><a target="_blank" href="https://www.facebook.com/OMNIX-GOLF-417671775321330/"></a></li>
            <li class="bm-social-youtube"><a target="_blank" href="https://www.youtube.com/channel/UC99J_laesO8ntAIjMB9RINA"></a></li>
            <li class="bm-social-instagram"><a target="_blank" href="https://www.instagram.com/omnixgolf/"></a></li>
            <li class="bm-social-email"><a target="_blank" href="mailto:"></a></li>
            <li class="bm-social-line"><a target="_blank" href="#"></a></li>
            <li class="bm-social-wechat"><a target="_blank" href="#"></a></li>
            <li class="bm-social-fbmessenger"><a target="_blank" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="bm-col col-md-12">
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="wrapper" style="text-align:center">
              <div data-module="text" id="TE_2" class="mce-content-body" style="position: relative;" spellcheck="false" data-id="5c34a1a81f3c6">
                <p>
                  <span style="vertical-align: inherit;" data-mce-style="vertical-align: inherit;">&#36319;&#33879;&#25105;&#20497;&#65292;&#19981;&#35201;&#37679;&#36942;&#20219;&#20309;&#26481;&#35199;</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="bm-col col-md-12">
            <div class="wrapper" style="text-align: center;font-size: 16px;">
              <div data-module="text" data-id="5c1c0935a9dec" id="TE_3" class="mce-content-body" style="position: relative;" spellcheck="false">
                <p>
                  <span style="color: rgb(0, 0, 0);" data-mce-style="color: #000000;">COPYRIGHT &copy; OMNIX GOLF CORP. , LTD. ALL RIGHTS RESERVED. DESIGN BY <a href="http://www.wingglory.one/" data-mce-href="http://www.wingglory.one/">&#32714;&#37319;&#38642;</a>
                    2019.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {}
</script>

<style lang="css">
</style>
