<template>
<div id="header" class="bm-site-scope bm-top-menu-multi" data-background-swatch="true" data-bg-color="#80C4D1" style="background-image: none; background-position: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(128, 196, 209);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image bm-nav-is-image" role="navigation" data-module="navbar" data-id="5c1c0935a8278">
          <div class="container">
            <div class="navbar-header">
              <a href="#/Shop" class="navbar-brand bm-brand-is-image">
                <img src="../../assets/public/images/PIC/omnix-golf-logo-1.png" alt="brand-logo">
              </a>
              <button type="button" @click="open = !open" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <nav class="collapse navbar-collapse navbar-ex1-collapse navbar-right" :class="{ 'in': open }">
              <ul class="nav navbar-nav bm-mainmenu-hook">
                <li data-id="363160" data-page="index.html" class=" hidden active"><a href="index.html">Home</a></li>
                <li data-id="363161" data-page="about.html" @click="open = !open"><a href="https://www.omnixgolf.com/about">&#38364;&#26044;OMNIX</a></li>
                <li data-id="363166" data-page="products-copy.html" @click="open = !open"><a href="https://www.omnixgolf.com/news">&#26368;&#26032;&#28040;&#24687;</a></li>
                <!-- https://www.omnixgolf.com/products -->
                <li data-id="363163" data-page="products.html" @click="open = !open"><a href="#/Products">&#26032;&#29986;&#21697;</a></li>
                <li data-id="363165" @click="open = !open">
                  <a href="#/Shop">&#35330;&#35069;&#31995;&#32113;</a>
                  <!-- <ul class="dropdown-menu">
                    <li data-id="363736" data-page="123456.html" class=" hidden" data-parent-page-id="363165">
                      <a href="123456.html">&#38598;&#21512;&#38913;</a>
                      <ul class="dropdown-menu">
                        <li data-id="363169" data-page="oem.html" class=" hidden" data-parent-page-id="363736"><a href="oem.html">&#29699;&#38538;&#35330;&#35069;</a></li>
                        <li data-id="363168" data-page="offical.html" class=" hidden" data-parent-page-id="363736"><a href="offical.html">&#20225;&#26989;&#35330;&#35069;</a></li>
                        <li data-id="363167" data-page="shoplist.html" class=" hidden" data-parent-page-id="363736"><a href="shoplist.html">&#32147;&#37559;&#21830;&#21015;&#34920;</a></li>
                      </ul>
                    </li>
                  </ul> -->
                </li>
                <li data-id="363162" data-page="customized.html" class=" hidden"><a href="customized.html">&#23458;&#35069;&#21270;&#29699;&#34955;</a></li>
                <li data-id="363164" data-page="contact.html" @click="open = !open"><a href="https://www.omnixgolf.com/contact">&#32879;&#32097;&#25105;</a></li>
                <li @click="open = !open"><a href="#/Account">會員專區</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      open: false
    }
  }
}
</script>

<style lang="css">
</style>
