<template>
  <el-row>
    <el-col>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-form-item label="姓名" prop="name">
          <el-input size="small" v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="信箱" prop="email">
          <el-input size="small" v-model="ruleForm.email" :disabled="isEdit"></el-input>
        </el-form-item>
        <el-form-item label="行動電話" prop="mobile">
          <el-input size="small" v-model="ruleForm.mobile" placeholder="預設密碼"></el-input>
        </el-form-item>
        <el-form-item label="權限" prop="auth">
          <el-select v-model="ruleForm.auth" size="small">
            <el-option
              v-for="item in authList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="狀態" prop="status">
          <el-select v-model="ruleForm.status" size="small">
            <el-option
              v-for="item in statusList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col style="text-align: center">
      <el-button type="warning" size="small" v-if="!isEdit" @click="send">提交</el-button>
      <el-button type="warning" size="small" v-if="isEdit" @click="edit">修改</el-button>
      <el-button size="small" v-if="!isEdit" @click="resetForm">重置</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        email: '',
        mobile: '',
        auth: 'normal',
        status: true
      },
      rules: {
        name: [
          { required: true, message: '请输入名稱', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ],
        mobile: [
          { required: true, message: '请输入料號', trigger: 'blur' }
        ],
      }
    }
  },
  mounted() {
    this.isEdit && this.assignData();
  },
  computed: {
    ...mapGetters([
      'subMainData',
      'getManagerList'
    ]),
    isEdit() {
      return this.subMainData.name === 'EditManager'
    },
    isShow() {
      return this.subMainData.show
    },
    authList() {
      return [
        { label: '擁有者', value: 'owner' },
        { label: '一般管理員', value: 'normal' },
      ]
    },
    statusList() {
      return [
        { label: '啟用', value: true },
        { label: '停用', value: false },
      ]
    }
  },
  watch: {
    isShow() {
      if (this.isShow) {
        this.assignData();
      }
    }
  },
  methods: {
    ...mapActions([
      'registerUser',
      'updateMember'
    ]),
    assignData() {
      Object.assign(this.ruleForm, this.getManagerList[this.subMainData.id]);
    },
    send() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.registerUser({ ...this.ruleForm, ...{ callback: this.resetForm } });
        } else {
          return false;
        }
      })
    },
    edit() {
      this.updateMember(this.ruleForm);
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
  }
}
</script>

<style lang="css">
</style>
