<template>
  <el-row>
    <el-col style="text-align: right;">
      <el-button size="small" type="warning" @click="handleAdd">{{$t('add')}}</el-button>
    </el-col>
    <el-col>
      <el-table
        :data="dataList"
        style="width: 100%"
        :max-height="tableHeight">
        <el-table-column
          v-for="(item, index) in columns"
          :key="`${item.label}_${index}`"
          :label="item.title"
          :prop="item.label"
          :width="item.width">
          <template slot-scope="scope">
            <span
              v-if="item.label === 'status'"
              class="text"
              :class="scope.row[item.label] ? 'green' : 'red'">{{scope.row[item.label] ? '啟用' : '停用'}}</span>
            <span
              v-else-if="item.label === 'auth'">{{scope.row[item.label] === 'normal' ? '一般管理員' : '擁有者'}}</span>
            <span v-else>{{scope.row[item.label]}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('tool')">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">{{$t('edit')}}</el-button>
            <el-button
              size="mini"
              type="danger"
              v-if="isShow(scope.row)"
              @click="handleDelete(scope.$index, scope.row)">{{$t('delete')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { managersColumns, adminConfig } from '@U/dataConfig'
import { setStore } from '@U'
import Users from '@S/Users'

export default {
  created() {
    setStore(this, 'Users', Users);
    this.fetchManagerList();
  },
  computed: {
    ...mapGetters([
      'getManagerList'
    ]),
    dataList() {
      return Object.values(this.getManagerList || {});
    },
    columns() {
      return managersColumns;
    },
    tableHeight() {
      return document.documentElement.offsetHeight - 250
    }
  },
  methods: {
    ...mapActions([
      'setSubMainData',
      'fetchManagerList',
      'deleteUser'
    ]),
    isShow(row) {
      return row.email !== adminConfig.administration;
    },
    handleAdd() {
      this.setSubMainData({
        show: true,
        name: 'AddManager'
      })
    },
    handleEdit(index, row) {
      this.setSubMainData({
        show: true,
        name: 'EditManager',
        id: row.uid
      })
    },
    handleDelete(index, row) {
      console.log(row);
      this.deleteUser(row);
    }
  }
}
</script>

<style lang="css">
</style>
