<template>
  <el-row>
    <el-col>
      <el-table :data="dataList" style="width: 100%" :max-height="tableHeight">
        <el-table-column :label="$t('orderNo')" prop="orderId" width="200"></el-table-column>
        <el-table-column :label="$tc('name', 1)" prop="name"></el-table-column>
        <el-table-column :label="$t('mobile')" prop="mobile"></el-table-column>
        <el-table-column :label="$t('orderDate')" prop="orderId">
          <template slot-scope="scope">
            <span>{{getOrderDate(scope.row.orderId)}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('status')" prop="status">
          <template slot-scope="scope">
            <span class="text" v-if="scope.row.progress === 'done'">{{$t(scope.row.progress)}}</span>
            <span class="text green" v-else-if="scope.row.progress === 'processed'">{{$t(scope.row.progress)}}</span>
            <span class="text red" v-else="scope.row.progress === 'unprocessed'">{{$t(scope.row.progress || 'unprocessed')}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('tool')">
          <template slot-scope="scope">
            <!-- <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button> -->
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">內容</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore, orderIdToDate } from '@U';
import Orders from '@S/Orders';

export default {
  created() {
    setStore(this, 'Orders', Orders);
    this.fetchOrderList();
  },
  computed: {
    ...mapGetters([
      'getOrderList'
    ]),
    dataList() {
      return Object.values(this.getOrderList || {});
    },
    tableHeight() {
      return document.documentElement.offsetHeight - 300;
    },
  },
  methods: {
    ...mapActions([
      'fetchOrderList',
      'createOrder',
      'pushBreadcrumb',
      'setOrderSelectId'
    ]),
    handleEdit(index, row) {
      this.pushBreadcrumb('ViewOrder')
      this.setOrderSelectId(row.orderId);
    },
    getOrderDate(time) {
      const id = time.toString().split('-').length > 1 ? time.split('-')[1] : time;
      return orderIdToDate(id);
    }
  }
}
</script>

<style lang="css">
</style>
