<template>
  <div>
    <el-row>
      <el-col :span="12">
        <el-form :model="ruleForm" ref="ruleForm" label-width="100px">
          <el-form-item label="訂購編號" prop="orderId">
            <span>{{ruleForm.orderId}}</span>
          </el-form-item>
          <el-form-item label="訂購人" prop="name">
            <span>{{ruleForm.name}}</span>
          </el-form-item>
          <el-form-item label="行動" prop="mobile">
            <span>{{ruleForm.mobile}}</span>
          </el-form-item>
          <el-form-item label="訂購時間" prop="OrderId">
            <span>{{getOrderDate(ruleForm.orderId)}}</span>
          </el-form-item>
        </el-form>
      </el-col>

      <el-col>
        <!-- <el-button type="warning" size="small" v-if="!isEdit" @click="send">提交</el-button>
        <el-button type="warning" size="small" v-if="isEdit" @click="edit">修改</el-button>
        <el-button size="small" v-if="!isEdit" @click="resetForm">重置</el-button> -->
      </el-col>
    </el-row>
    <el-row>
      <el-col v-if="dataList.length">
        <!-- {{ruleForm.cartList}} -->
        <el-table
          :data="dataList"
          style="width: 100%">
          <el-table-column
            label=""
            width="100">
            <template slot-scope="scope">
              <img width="50" height="50" :ref="`img${scope.$index}`" :src="imageUrl(scope)" :key="`${scope.$index}`"/>
              <!-- <span>{{scope.row.files[0].imageUrl}}</span> -->
            </template>
          </el-table-column>
          <el-table-column
            :label="$t('productNo')"
            prop="productNo">
          </el-table-column>
          <el-table-column
            label="顏色名稱"
            prop="name">
          </el-table-column>
          <el-table-column
            label="顏色"
            prop="color">
          </el-table-column>
          <el-table-column
            label="數量"
            prop="amount">
            <template slot-scope="scope">
              <el-input-number v-model="scope.row.amount" @change="changeAmount(scope.row)" size="mini" :min="1" :max="10"></el-input-number>
            </template>
          </el-table-column>
          <!-- <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column> -->
        </el-table>
      </el-col>
    </el-row>
    <el-row>
      <!-- {{dataListCustom}} -->
      <el-col v-if="dataListCustom.length">
        <el-table
          :data="dataListCustom"
          style="width: 100%">
          <el-table-column
            prop="name">
            <template slot-scope="scope">
              <img :src="scope.row.image" />
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            :label="$tc('name', 2)"
            width="150">
            <template slot-scope="scope">
              <span>客製化商品-{{scope.$index + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="productDetail"
            :label="$t('productDetail')">
            <template slot-scope="scope">
              <div v-for="(item, key) in scope.row.productDetail">
                <span>{{getCategory(key)}}</span>
                <span>{{item.name}}</span>
                <span>{{`(${item.productNo})`}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="amount"
            :label="$t('amount')"
            width="80">
          </el-table-column>
          <el-table-column
            prop="totalPrice"
            :label="$t('totalPrice')"
            width="150">
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore, orderIdToDate } from '@U';
import CustomSetting from '@S/CustomSetting';

export default {
  data() {
    return {
      ruleForm: {
        orderId: '',
        name: '',
        mobile: ''
      }
    }
  },
  created() {
    setStore(this, 'CustomSetting', CustomSetting)
    this.assignData();
    this.fetchCustomInfo();
    // 如有圖片連結則抓圖片
    // if (this.ruleForm.imageUrl) {
    //   const storageRef = this.$firebase.storage().ref().child(`CustomSetting/${this.ruleForm.imageUrl}`)
    //   storageRef.getDownloadURL().then((url) => {
    //     this.ruleForm.file.push({ name: this.ruleForm.imageUrl, url })
    //     this.ruleForm.oldFile.push({ name: this.ruleForm.imageUrl, url })
    //   })
    // }
  },
  computed: {
    ...mapGetters([
      'getOrderList',
      'orderSelectId',
      'customInfoList'
    ]),
    dataList() {
      return Object.values(this.ruleForm.cartList || {});
    },
    dataListCustom() {
      return Object.values(this.ruleForm.cartListCustom || {});
    }
  },
  methods: {
    ...mapActions([
      'setOrderSelectId',
      'fetchImageUrl',
      'fetchCustomInfo'
    ]),
    assignData() {
      // const data = this.getOrderList.find((item) => item.orderId === this.orderSelectId);
      // Object.assign(this.ruleForm, data);
      Object.assign(this.ruleForm, this.getOrderList[this.orderSelectId]);
    },
    imageUrl({ $index, row }) {
      const path = `Products/${row.files[0].imageUrl}`
      this.fetchImageUrl({ path }).then((url) => {
        this.$refs[`img${$index}`].src = url
      })
      return 'http://fakeimg.pl/50x50/?text=Loading&font=lobster'
    },
    getOrderDate(time) {
      const id = time.toString().split('-').length > 1 ? time.split('-')[1] : time;
      return orderIdToDate(id);
    },
    changeAmount(row) {
      // this.changeCartAmount(row);
    },
    getCategory(val) {
      const key = val.replace('canvas', '');
      return `${this.customInfoList[key] ? this.customInfoList[key].name : 'Loading...'}：`;
    },
  },
  beforeDestroy() {
    // 將選擇值清空
    this.setOrderSelectId(0)
  },
}
</script>

<style lang="css">
</style>
