<template>
  <el-row>
    <el-col>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-form-item :label="$t('name')" prop="name">
          <el-input size="small" v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item :label="$t('email')" prop="email">
          <el-input size="small" v-model="ruleForm.email" :disabled="isEdit"></el-input>
        </el-form-item>
        <el-form-item :label="$t('mobile')" prop="mobile">
          <el-input size="small" v-model="ruleForm.mobile" type="number" placeholder="預設密碼"></el-input>
        </el-form-item>
        <el-form-item :label="$t('address')" prop="address">
          <el-input size="small" v-model="ruleForm.address"></el-input>
        </el-form-item>
        <el-form-item :label="$t('gender')" prop="gender">
          <el-input size="small" v-model="ruleForm.gender"></el-input>
        </el-form-item>
        <el-form-item :label="$t('birthday')" prop="birthday">
          <el-input size="small" v-model="ruleForm.birthday" type="number"></el-input>
        </el-form-item>
        <el-form-item :label="$t('height')" prop="height">
          <el-input size="small" v-model="ruleForm.height" type="number"></el-input>
        </el-form-item>
        <el-form-item :label="$tc('weight', 1)" prop="weight">
          <el-input size="small" v-model="ruleForm.weight" type="number"></el-input>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col style="text-align: center">
      <el-button type="warning" size="small" v-if="!isEdit" @click="send">{{$t('send')}}</el-button>
      <el-button type="warning" size="small" v-if="isEdit" @click="edit">{{$t('modify')}}</el-button>
      <el-button size="small" v-if="!isEdit" @click="resetForm">{{$t('reset')}}</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        email: '',
        mobile: '',
        address: '',
        gender: '',
        birthday: '',
        height: '',
        weight: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入名稱', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ],
        mobile: [
          { required: true, message: '请输入料號', trigger: 'blur' }
        ],
      }
    }
  },
  mounted() {
    this.isEdit && this.assignData();
  },
  computed: {
    ...mapGetters([
      'subMainData',
      'getMemberList'
    ]),
    isEdit() {
      return this.subMainData.name === 'EditMember'
    },
    isShow() {
      return this.subMainData.show
    }
  },
  watch: {
    isShow() {
      if (this.isShow) {
        this.assignData();
      }
    }
  },
  methods: {
    ...mapActions([
      'registerUser',
      'updateMember'
    ]),
    assignData() {
      Object.assign(this.ruleForm, this.getMemberList[this.subMainData.id]);
    },
    send() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.registerUser({ ...this.ruleForm, ...{ auth: 'member' } });
        } else {
          return false;
        }
      })
    },
    edit() {
      this.updateMember(this.ruleForm);
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
  }
}
</script>

<style lang="css">
</style>
