<template>
  <el-row class="content-center padding">
    <el-col>
      <span class="content-title">{{$t('Account')}}</span>
    </el-col>
    <el-col :xs="24" :sm="16" :md="8">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
        <el-form-item prop="email">
          <el-input v-model="ruleForm.email" :placeholder="$t('email')"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="ruleForm.password" :placeholder="$t('password')"></el-input>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :xs="24" :sm="16" :md="8">
      <el-button style="width: 100%" size="small" type="info" @click="submitForm()">{{$t('login')}}</el-button>
    </el-col>
    <el-col :xs="24" :sm="16" :md="8">
      <el-button size="small" type="text" @click="$router.push({ path: 'Register' })">{{$t('accountRegister')}}</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      ruleForm: {
        email: '',
        password: ''
      },
      rules: {
        email: [
          { required: true, message: '請輸入郵箱地址', trigger: 'blur' },
          { type: 'email', message: '請輸入正確的郵箱地址', trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: '請輸入密碼', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    ...mapActions([
      'accountLogin'
    ]),
    submitForm() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.accountLogin(this.ruleForm);
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  }
}
</script>

<style lang="css">
</style>
