<template>
  <el-row>
    <!-- 標準商品列表 -->
    <el-col style="margin-bottom: 1rem;" v-if="dataList.length || (!dataList.length && !dataListCustom.length)">
      <el-table
        :data="dataList"
        style="width: 100%">
        <el-table-column
          prop="name"
          :label="$tc('name', 2)">
        </el-table-column>
        <el-table-column
          prop="productNo"
          :label="$t('productNo')">
        </el-table-column>
        <el-table-column
          prop="color"
          :label="$t('color')">
        </el-table-column>
        <el-table-column
          prop="amount"
          :label="$t('amount')">
          <template slot-scope="scope">
            <el-input-number v-model="scope.row.amount" @change="changeAmount(scope.row)" size="mini" :min="1" :max="10"></el-input-number>
          </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope">
            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <!-- 客製化列表 -->
    <el-col style="margin-bottom: 1rem;" v-if="dataListCustom.length">
      <el-table
        :data="dataListCustom"
        style="width: 100%">
        <el-table-column
          prop="name">
          <template slot-scope="scope">
            <img :src="scope.row.image" />
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          :label="$tc('name', 2)">
          <template slot-scope="scope">
            <span>客製化商品-{{scope.$index + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="productDetail"
          :label="$t('productDetail')">
          <template slot-scope="scope">
            <div v-for="(item, key) in scope.row.productDetail">
              <span>{{getCategory(key)}}</span>
              <span>{{item.name}}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          prop="totalPrice"
          :label="$t('totalPrice')">
        </el-table-column>
        <el-table-column
          prop="amount"
          :label="$t('amount')">
          <template slot-scope="scope">
            <el-input-number v-model="scope.row.amount" @change="changeAmountCustom(scope.row)" size="mini" :min="1" :max="10"></el-input-number>
          </template>
        </el-table-column>
        <el-table-column width="100">
          <template slot-scope="scope">
            <el-button size="mini" type="danger" @click="handleDeleteCustom(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
    <el-col>
      <el-button type="warning" size="small" :disabled="!dataList.length && !dataListCustom.length" @click="send">提交</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U';
import Orders from '@S/Orders';
import CustomSetting from '@S/CustomSetting';

export default {
  created() {
    setStore(this, 'Orders', Orders);
    setStore(this, 'CustomSetting', CustomSetting);
    this.fetchCustomInfo();
  },
  computed: {
    ...mapGetters([
      'cartList',
      'cartListCustom',
      'customInfoList'
    ]),
    dataList() {
      return Object.values(this.cartList || {});
    },
    dataListCustom() {
      return Object.values(this.cartListCustom || {});
    }
  },
  methods: {
    ...mapActions([
      'removeCartList',
      'removeCartListCustom',
      'changeCartAmount',
      'changeCartAmountCustom',
      'createOrder',
      'fetchCustomInfo'
    ]),
    getCategory(val) {
      const key = val.replace('canvas', '');
      return `${this.customInfoList[key] ? this.customInfoList[key].name : 'Loading...'}：`;
    },
    handleDelete(index, row) {
      this.removeCartList(row);
    },
    handleDeleteCustom(index, row) {
      this.removeCartListCustom(row);
    },
    changeAmount(row) {
      this.changeCartAmount(row);
    },
    changeAmountCustom(row) {
      this.changeCartAmountCustom(row);
    },
    send(){
      if (this.dataList.length) {
        this.createOrder({ cartList: this.cartList });
      }

      if (this.dataListCustom.length) {
        this.createOrder({ cartListCustom : this.cartListCustom });
      }
    }
  }
}
</script>

<style lang="css">
</style>
