<template>
<el-row class="content-center padding">
  <el-col>
    <SubMenu />
  </el-col>
  <el-col>
    <span class="content-title">{{$t(view)}}</span>
  </el-col>
  <el-col :sm="24" :md="22">
    <compoment :is="view" />
  </el-col>
</el-row>
</template>

<script>
import SubMenu from './SubMenu.vue';
import Cart from './Cart.vue';

export default {
  data() {
    return {}
  },
  computed: {
    view() {
      return this.$route.query.page || 'Cart';
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    }
  },
  components: {
    SubMenu,
    Cart
  }
}
</script>

<style lang="css">
</style>
