<template>
  <el-container>
    <!-- <el-header class="el-header-main">會員註冊</el-header> -->
    <el-main>
      <el-row>
        <el-col>
          <span class="content-title">{{$t('accountRegister')}}</span>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :xs="24" :sm="16">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
            <el-form-item label="姓名" prop="name">
              <el-input size="small" v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="信箱" prop="email">
              <el-input size="small" v-model="ruleForm.email"></el-input>
            </el-form-item>
            <el-form-item label="電話" prop="mobile">
              <el-input size="small" v-model="ruleForm.mobile"></el-input>
            </el-form-item>
            <el-form-item label="國別" prop="country">
              <el-input size="small" v-model="ruleForm.country"></el-input>
            </el-form-item>
            <el-form-item label="地區" prop="area">
              <el-input size="small" v-model="ruleForm.area"></el-input>
            </el-form-item>
            <el-form-item label="密碼" prop="password">
              <el-input type="password" size="small" v-model="ruleForm.password"></el-input>
            </el-form-item>
            <el-form-item label="確認密碼" prop="checkPassword">
              <el-input type="password" size="small" v-model="ruleForm.checkPassword"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" size="small" @click="submitForm()">提交</el-button>
              <el-button size="small" @click="resetForm()">重置</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U';
import Users from '@S/Users';

export default {
  data() {
    const validatePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密碼'));
      } else {
        callback();
      }
    };
    const validateCheckPassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密碼'));
      } else if (value !== this.ruleForm.password) {
        callback(new Error('密碼不一致'));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        name: '',
        email: '',
        mobile: '',
        country: '',
        area: '',
        password: '',
        checkPassword: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入名稱', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ],
        mobile: [
          { required: true, message: '请输入電話', trigger: 'blur' }
        ],
        country: [
          { required: true, message: '请输入國家', trigger: 'blur' }
        ],
        area: [
          { required: true, message: '请输入地區', trigger: 'blur' }
        ],
        password: [
          { required: true, validator: validatePassword, trigger: 'blur' }
        ],
        checkPassword: [
          { required: true, validator: validateCheckPassword, trigger: ['blur', 'change'] }
        ],
      }
    }
  },
  created() {
    setStore(this, 'Users', Users)
  },
  methods: {
    ...mapActions([
      'registerUser',
    ]),
    submitForm() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          console.log(this.ruleForm);
          this.registerUser({ ...this.ruleForm, ...{ auth: 'member', callback: this.resetForm } });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../css/main.scss';
</style>
