<template>
<el-menu :default-active="activeIndex" class="el-subMenu" mode="horizontal" @select="handleSelect">
  <el-submenu
    v-for="item in subMenuList"
    v-if="item.child"
    :index="item.key"
    :key="item.key"
    class="float-right">
    <template slot="title">{{item.label}}</template>
    <el-menu-item v-for="child in item.child" :index="child.key" :key="child.key">{{child.childLabel}}</el-menu-item>
  </el-submenu>
  <el-menu-item
    v-else
    :index="item.key"
    :key="item.key"
    class="float-right">{{item.label}}</el-menu-item>
</el-menu>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      activeIndex: '1',
      subMenuValues: [{
          label: '我的訂單',
          key: 'order',
          child: [{
              childLabel: '發票查詢',
              key: 'invoice'
            },
            {
              childLabel: '訂單狀態',
              key: 'status'
            },
            {
              childLabel: '出貨狀態',
              key: 'shipment'
            },
            {
              childLabel: '付款狀態',
              key: 'payment'
            },
          ]
        },
        {
          label: '購物車',
          key: 'Cart',
          // child: [{
          //   childLabel: '商品查詢',
          //   key: 'productSearch'
          // }]
        },
        {
          label: '我的會員',
          key: 'member',
          child: [{
              childLabel: '消費查詢',
              key: 'consumption'
            },
            {
              childLabel: '等級查詢',
              key: 'level'
            }
          ]
        },
        {
          label: '會員票卷及紅利',
          key: 'ticket',
          child: [{
              childLabel: '購物金',
              key: 'points'
            },
            {
              childLabel: '現金優惠',
              key: 'offer'
            },
            {
              childLabel: '折扣卷',
              key: 'sale'
            },
            {
              childLabel: '兌換卷',
              key: 'exchange'
            }
          ]
        },
        {
          label: '服務諮詢',
          key: 'service'
        },
        {
          label: '會員資料',
          key: 'information',
          child: [{
              childLabel: '密碼修改',
              key: 'passwordChange'
            },
            {
              childLabel: '信箱修改',
              key: 'emailChange'
            },
            {
              childLabel: '資料修改',
              key: 'informationChange'
            },
            {
              childLabel: '登出',
              key: 'logout'
            }
          ]
        },
      ]
    }
  },
  computed: {
    subMenuList() {
      const data = this.subMenuValues;
      data.reverse();
      return data;
    }
  },
  methods: {
    ...mapActions([
      'accountLogout'
    ]),
    handleSelect(key, keyPath) {
      if (key === 'logout') {
        this.accountLogout();
        this.$router.push({ path: 'AccountLogin' });
      } else {
        this.$router.push({ path: 'Account', query: { page: key } });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../css/main.scss';
</style>
