<template>
  <div>
    <el-carousel height="500px">
      <el-carousel-item v-for="(item, index) in urlList" :key="index">
        <img :src="item.url" class="carousel-image" />
      </el-carousel-item>
    </el-carousel>
    <ProductGroup />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U'
import Products from '@S/Products';
import ProductGroup from './ProductGroup.vue';
import banner01 from '../../www.bookmark.com/websites/e9/154695305986655c34a163d38e9/assets/public/images/9319335423a3ba4a1fc0a40d65768ebb.jpg';
import banner02 from '../../www.bookmark.com/websites/e9/154695305986655c34a163d38e9/assets/public/images/cc6e63f8b18bb08e675fc4044ea57f80.jpg';
import banner03 from '../../www.bookmark.com/websites/e9/154695305986655c34a163d38e9/assets/public/images/d92778f4f967cc0eafd113a36715ecf7.jpg';

export default {
  data() {
    return {}
  },
  created() {
    setStore(this, 'Products', Products);
    this.fetchProductList();
    this.fetchProductCategory();
  },
  computed: {
    ...mapGetters([
      'productList',
      'productCategoryList'
    ]),
    urlList() {
      return [
        { url: banner01 },
        { url: banner02 },
        { url: banner03 },
      ]
    }
  },
  methods: {
    ...mapActions([
      'fetchProductList',
      'fetchProductCategory'
    ]),
    products(category) {
      return Object.values(this.productList).filter(item => item.categoryId === category.id);
    }
  },
  components: {
    ProductGroup
  }
}
</script>

<style lang="scss" scoped>
.el-carousel__item:nth-child(2n) {
   background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
   background-color: #d3dce6;
}

.carousel-image {
  width: auto;
  height: 100%;
  display: block;
  margin: auto;
}
</style>
