<template>
  <div>
    <el-col>
      <span class="content-title">消費建議排行榜</span>
    </el-col>
    <div
      v-for="(cateItem, parentIndex) in Object.values(productCategoryList)"
      v-if="products(cateItem).length">
      <div class="category-item">
        <span>{{cateItem.name}}</span>
      </div>
      <el-row class="content-container">
        <el-col
          class="product-item"
          v-for="(item, index) in products(cateItem)"
          :key="item.id"
          :xs="12"
          :sm="6"
          :md="6">
          <el-card :body-style="{ padding: '0px' }" shadow="hover" @click.native="productClick(item)">
            <img :ref="`img${parentIndex}${index}`" :src="imageUrl(parentIndex, index, item)" class="image">
            <div style="padding: 14px;">
              <span>{{item.name}}</span>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters([
      'productList',
      'productCategoryList'
    ])
  },
  methods: {
    ...mapActions([
      'fetchImageUrl'
    ]),
    products(category) {
      return Object.values(this.productList).filter(item => item.categoryId === category.id);
    },
    imageUrl(parentIndex, index, row) {
      const firstImage = row.files ? row.files[0].imageUrl : null;
      if (firstImage) {
        const path = `Products/${firstImage}`;
        this.fetchImageUrl({ path }).then((url) => {
          this.$refs[`img${parentIndex}${index}`][0].src = url
        });
      }
      return 'https://fakeimg.pl/323x483/?text=Loading&font=lobster';
    },
    productClick(row) {
      const { id } = row;
      this.$router.push({ path: 'Product', query: { productId: id } });
    }
  }
}
</script>

<style lang="scss" scoped>
.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}
</style>
