<template>
  <el-row class="padding" type="flex" justify="center">
    <el-col ref="left-main" :sm="6" :xs="12" class="padding right">
      <el-card :body-style="{ padding: '0px' }" shadow="hover" style="margin-bottom: 2rem;">
        <img ref="img" :src="imageUrl(product.files && product.files[0], 'img')" class="image">
      </el-card>
      <div class="img-container">
        <ul>
          <li v-for="(file, index) in product.files">
            <img :ref="`img${index}`" :src="imageUrl(file, `img${index}`)" width="100%" @click="changeImg($event)">
          </li>
        </ul>
      </div>
    </el-col>
    <el-col :sm="6" :xs="12">
      <div class="product-description">
        <span>{{$tc('name', 2)}}：</span>
        <span>{{product.name}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('productNo')}}：</span>
        <span>{{product.productNo}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('categoryName')}}：</span>
        <span>{{product.categoryName}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('material')}}：</span>
        <span>{{product.material}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('color')}}：</span>
        <span>{{product.color}}</span>
      </div>
      <div class="product-description">
        <span>{{$tc('weight', 2)}}：</span>
        <span>{{product.weight}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('caliber')}}：</span>
        <span>{{product.caliber}}</span>
      </div>
      <div class="product-description">
        <span>{{$t('amount')}}：</span>
        <el-input-number v-model="form.amount" size="small" :min="1" :max="10"></el-input-number>
      </div>
      <div>
        <el-button type="info" @click="addCart">{{$t('addCart')}}</el-button>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U'
import Products from '@S/Products';
import Orders from '@S/Orders';

export default {
  data() {
    return {
      form: {
        amount: 1
      }
    }
  },
  created() {
    setStore(this, 'Products', Products);
    setStore(this, 'Orders', Orders);
    this.fetchProductList();
    this.fetchProductCategory();
  },
  computed: {
    ...mapGetters([
      'productList',
      'productCategoryList',
      'cartList'
    ]),
    product() {
      return (this.productList && this.productList[this.productId]) || {};
    },
    productId() {
      return this.$route.query.productId;
    }
  },
  methods: {
    ...mapActions([
      'fetchProductList',
      'fetchProductCategory',
      'fetchImageUrl',
      'addCartList'
    ]),
    imageUrl(row, refTag) {
      if (row) {
        const path = `Products/${row.imageUrl}`
        this.fetchImageUrl({ path }).then((url) => {
          const tag = Array.isArray(this.$refs[refTag]) ? this.$refs[refTag][0] : this.$refs[refTag];
          tag.src = url
        })
      }
      return 'https://fakeimg.pl/323x483/?text=Loading&font=lobster'
    },
    changeImg(e) {
      this.$refs.img.src = e.target.currentSrc;
    },
    addCart() {
      this.addCartList({ ...this.product, ...this.form });
    }
  }
}
</script>

<style lang="scss" scoped>
.image {
  width: 100% !important;
  display: block;
}

.img-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  ul {
    display: inline-flex;
    padding-left: 0;
    li {
      width: 120px;
      margin-right: 0.5rem;
      list-style: none;
      cursor: pointer;
    }
  }
}
</style>
