<template>
<div>
  <Header />
  <div id="content" data-body-background-swatch="true" data-drop-filter="" data-first-focus-bottom="true" data-parallax="true" data-page-type="" class="">
    <router-view />
  </div>
  <Footer />
</div>
</template>

<script>
export default {
  components: {
    Header: () => import( /* webpackChunkName: 'Header' */ '@C/view/Header'),
    Footer: () => import( /* webpackChunkName: 'Footer' */ '@C/view/Footer'),
  },
}
</script>

<style lang="scss">
@import '../css/main.scss';
</style>
