<template>
<el-container>
  <el-main>
    <el-row>
      <el-col :span="15" ref="left-main" :sm="17" :xs="24">
        <canvas id="canvasCollection" style="display: none;" width="877" height="620"></canvas>
        <div class="picture-container" ref="canvasContainer">
          <!-- 預設圖 -->
          <canvas id="canvasDefault" width="877" height="620"></canvas>
          <!-- 圖片、文字 -->
          <canvas id="canvasText" width="877" height="620"></canvas>
        </div>
      </el-col>
      <el-col :span="9" class="canvas-controller" :sm="7" :xs="24">
        <el-form ref="form" :model="form" label-width="130px">
          <el-form-item :label="getParentName('Primary')" v-if="getParentEnable('Primary')">
            <el-select v-model="form.primary" size="mini" placeholder="请选择活动区域" clearable @change="changePrimary" class="left">
              <el-option v-for="item in primaryList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span class="left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('primary', form.primary)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('CoatA')" v-if="getParentEnable('CoatA')">
            <el-select v-model="form.coatA" size="mini" placeholder="请选择活动区域" clearable @change="changeCoatA" class="left">
              <el-option v-for="item in coatAList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('coatA', form.coatA)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('Stick')" v-if="getParentEnable('Stick')">
            <el-select v-model="form.stick" size="mini" placeholder="请选择活动区域" clearable @change="changeStick" class="left">
              <el-option v-for="item in stickList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('stick', form.stick)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('CoatB')" v-if="getParentEnable('CoatB')">
            <el-select v-model="form.coatB" size="mini" placeholder="请选择活动区域" clearable @change="changeCoatB" class="left">
              <el-option v-for="item in coatBList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">${{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('coatB', form.coatB)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('Handle')" v-if="getParentEnable('Handle')">
            <el-select v-model="form.handle" size="mini" placeholder="请选择活动区域" clearable @change="changeHandle" class="left">
              <el-option v-for="item in handleList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('handle', form.handle)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('Rope')" v-if="getParentEnable('Rope')">
            <el-select v-model="form.rope" size="mini" placeholder="请选择活动区域" clearable @change="changeRope" class="left">
              <el-option v-for="item in ropeList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('rope', form.rope)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('Sash')" v-if="getParentEnable('Sash')">
            <el-select v-model="form.sash" size="mini" placeholder="请选择活动区域" clearable @change="changeSash" class="left">
              <el-option v-for="item in sashList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('sash', form.sash)}}</span>
          </el-form-item>
          <el-form-item :label="getParentName('Cover')" v-if="getParentEnable('Cover')">
            <el-select v-model="form.cover" size="mini" placeholder="请选择活动区域" clearable @change="changeCover" class="left">
              <el-option v-for="item in coverList" :key="item.id" :label="item.name" :value="item.imageUrl">
                <span style="float: left">{{ item.name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">¥{{ item.price }}</span>
              </el-option>
            </el-select>
            <span>{{itemPrice('cover', form.cover)}}</span>
          </el-form-item>
        </el-form>
        <el-row>
          <el-col style="text-align: start;">自定義文字</el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-input v-model="form.text" size="mini" placeholder="Text"></el-input>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-select v-model="textStyle.family" size="mini" placeholder="Font Family">
              <el-option v-for="family in fontFamily" :key="family" :label="family" :value="family"></el-option>
            </el-select>
          </el-col>
          <el-col :span="12">
            <el-select v-model="textStyle.color" size="mini" placeholder="Font Color">
              <el-option v-for="color in fontColor" :key="color" :label="color" :value="color"></el-option>
            </el-select>
          </el-col>
        </el-row>
        <el-row>
          <el-col style="text-align: start;">
            <el-button type="primary" size="mini" @click="addText">Add Text</el-button>
          </el-col>
        </el-row>
        <el-row v-for="(item, index) in textArray" :key="index">
          <el-col :span="12" style="text-align: start;">{{item.text}}</el-col>
          <el-col :span="6" style="text-align: start;">{{item.fill}}</el-col>
          <el-col :span="6" style="text-align: start;">
            <el-button type="danger" size="mini" @click="deleteText(index)">Delete</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col style="text-align: start;">自定義圖片</el-col>
        </el-row>
        <el-row>
          <el-upload class="upload-demo" ref="upload" style="text-align: start;" action="" :on-remove="handleRemove" :on-change="handleChange" :auto-upload="false" list-type="picture">
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-row>
        <el-row>
          <span>金額：¥{{totalPrice}}</span>
          <el-button size="small" type="primary" @click="exportPng">Export</el-button>
        </el-row>
      </el-col>
    </el-row>
  </el-main>
</el-container>
</template>

<script>
import Menu from '@C/Menu';
import canvasDefaultImage from '../assets/canvasProject/default.png';
import { setStore } from '@U';
import CustomSetting from '@S/CustomSetting';
import Orders from '@S/Orders';
import {
  mapActions,
  mapGetters
} from 'vuex'

export default {
  components: {
    Menu,
  },
  data() {
    const defaultCanvasWidth = 877;
    const defaultCanvasHeight = 620;
    const defaultImageWidth = 3508;
    const defaultImageHeight = 2480;
    return {
      defaultCanvasWidth,
      defaultCanvasHeight,
      defaultImageWidth,
      defaultImageHeight,
      canvasCollection: null,
      canvasContainer: {},
      defaultImage: {
        canvasDefaultImage
      },
      cacheImage: {
        canvasPrimary: {},
        canvasCoatA: {},
        canvasStick: {},
        canvasCoatB: {},
        canvasHandle: {},
        canvasRope: {},
        canvasSash: {},
        canvasCover: {}
      },
      form: {
        primary: '',
        coatA: '',
        coatB: '',
        handle: '',
        rope: '',
        sash: '',
        cover: '',
        text: ''
      },
      productDetail: {},
      textArray: [],
      textStyle: {
        family: 'Helvetica',
        color: 'black'
      },
      canvasFileList: [],
      fileList: [],
      resizeWidth: 0,
      canvasList: [
        'canvasDefault',
        'canvasPrimary',
        'canvasCoatA',
        'canvasStick',
        'canvasCoatB',
        'canvasHandle',
        'canvasRope',
        'canvasSash',
        'canvasCover',
        'canvasText',
      ]
    };
  },
  created() {
    setStore(this, 'CustomSetting', CustomSetting);
    setStore(this, 'Orders', Orders);
    this.fetchCustomSettingList();
    this.fetchCustomInfo();
  },
  mounted() {
    const createCanvas = () => {

      if (!this.$refs['left-main']) return;
      const mainEl = this.$refs['left-main'].$el;
      this.resizeWidth = mainEl.clientWidth > this.defaultCanvasWidth ? this.defaultCanvasWidth : mainEl.clientWidth;
      this.canvasList.forEach((key, index) => {
        if (!this.canvasContainer[key]) {
          this.canvasContainer[key] = new fabric.Canvas(key, {
            selection: false,
          });
        }
        this.canvasContainer[key].setWidth(this.resizeWidth);
        this.canvasContainer[key].setHeight(this.resizeWidth / (this.defaultCanvasWidth / this.defaultCanvasHeight));
        if (key === 'canvasDefault') {
          this.setCanvasBackground(key, canvasDefaultImage);
        } else if (key === 'canvasText') {
          this.canvasContainer[key].on('object:modified', this.customEvtHandler);
        } else {
          let formKey = key.replace('canvas', '');
          formKey = formKey.replace(formKey.substring(0, 1), formKey.substring(0, 1).toLowerCase());
          const img = this.form[formKey] ? this.cacheImage[key][this.form[formKey]] : this.defaultImage[`${key}Image`];
          if (img) {
            this.setCanvasBackground(key, img);
          }
        }
        if (index === this.canvasList.length - 1) return;
        this.canvasContainer[key].wrapperEl.style.position = 'absolute'
        this.canvasContainer[key].wrapperEl.style.top = 0
        this.canvasContainer[key].wrapperEl.style.left = 0
      });
    }
    createCanvas();
    window.addEventListener('resize', (e) => {
      createCanvas();
    })

    // const canvasClip = new fabric.Circle({radius: 100})
    // this.canvasContainer['canvasText'].clipPath = canvasClip
    // this.canvasContainer['canvasText'].controlsAboveOverlay = true
    // this.canvasContainer['canvasText'].add(canvasClip);
    // this.canvasContainer['canvasText'].renderAll();

    // this.canvasContainer['canvasText'].on('object:moving', disableScroll);
    // this.canvasContainer['canvasText'].on('object:scaling', disableScroll);
    // this.canvasContainer['canvasText'].on('object:rotating', disableScroll);
    // this.canvasContainer['canvasText'].on('mouse:up', enableScroll);
  },
  computed: {
    ...mapGetters([
      'customSettingList',
      'customInfoList'
    ]),
    primaryList() {
      return this.customSettingList['Primary']
    },
    coatAList() {
      return this.customSettingList['CoatA']
    },
    stickList() {
      return this.customSettingList['Stick']
    },
    coatBList() {
      return this.customSettingList['CoatB']
    },
    handleList() {
      return this.customSettingList['Handle']
    },
    ropeList() {
      return this.customSettingList['Rope']
    },
    sashList() {
      return this.customSettingList['Sash']
    },
    coverList() {
      return this.customSettingList['Cover']
    },
    fontColor() {
      return ['blue', 'red', 'black']
    },
    fontFamily() {
      return ['Helvetica Neue', 'Helvetica', 'Arial']
    },
    totalPrice() {
      // return 0;
      const formKeys = Object.keys(this.form);
      const formValues = Object.values(this.form);
      return formValues.reduce((num, curItem, index) => {
        const itemSplit = curItem.split('_');
        if (curItem && itemSplit.length > 1) {
          const resultItem = this[`${formKeys[index]}List`][itemSplit[0]];
          return num += resultItem ? parseInt(resultItem.price) : 0;
        } else {
          return num += 0;
        }
      }, 0)
    }
  },
  methods: {
    ...mapActions([
      'fetchCustomSettingList',
      'fetchImageUrl',
      'fetchCustomInfo',
      'addCartListCustom'
    ]),
    initCanvasCollection() {
      if (this.canvasCollection) {
        this.canvasCollection.clear()
      } else {
        this.canvasCollection = new fabric.Canvas('canvasCollection')
      }
    },
    changePrimary(url) {
      this.changeCanvasBackground('canvasPrimary', url)
    },
    changeCoatA(url) {
      this.changeCanvasBackground('canvasCoatA', url)
    },
    changeStick(url) {
      this.changeCanvasBackground('canvasStick', url)
    },
    changeCoatB(url) {
      this.changeCanvasBackground('canvasCoatB', url)
    },
    changeHandle(url) {
      this.changeCanvasBackground('canvasHandle', url)
    },
    changeRope(url) {
      this.changeCanvasBackground('canvasRope', url)
    },
    changeSash(url) {
      this.changeCanvasBackground('canvasSash', url)
    },
    changeCover(url) {
      this.changeCanvasBackground('canvasCover', url)
    },
    async changeCanvasBackground(category, imageUrl) {
      let loading
      // canvas繪圖
      const setbackground = (img) => {
        if (img) {
          // const mainEl = this.$refs['left-main'].$el;
          removeDrawImage();
          // 關閉讀取頁面
          loading && loading.close();
          // this.setCanvasBackground(category, img);
          img.set({
            name: category,
            XZIndex: this.canvasList.indexOf(category),
            selectable: false,
            hoverCursor: 'unset',
            scaleX: this.resizeWidth / this.defaultImageWidth,
            scaleY: (this.resizeWidth / (this.defaultCanvasWidth / this.defaultCanvasHeight)) / this.defaultImageHeight,
          })
          this.canvasContainer.canvasDefault.add(img);
          const sortResult = this.canvasContainer.canvasDefault.getObjects().sort((a, b) => a.XZIndex - b.XZIndex);
          this.canvasContainer.canvasDefault._objects = sortResult;
          this.canvasContainer.canvasDefault.renderAll();
        } else {
          // this.canvasContainer[category].clear();
          removeDrawImage();
        }
      }
      // 刪除物件
      const removeDrawImage = () => {
        const removeImg = this.canvasContainer.canvasDefault.getObjects().find(item => item.name === category);
        this.canvasContainer.canvasDefault.remove(removeImg);
      }

      // 判斷物件有無資料
      if (imageUrl) {
        // 判斷有無暫存
        if (!this.cacheImage[category] || !this.cacheImage[category][imageUrl]) {
          // 開啟讀取頁面
          loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });
          await this.fetchImageUrl({
            path: `CustomSetting/${imageUrl}`
          }).then((urlData) => {
            console.log(urlData);
            const url = Array.isArray(urlData) ? urlData[0] : urlData;
            new fabric.Image.fromURL(url, (img) => {
              Object.assign(this.cacheImage[category], {
                [imageUrl]: img
              })
              setbackground(img)
            }, {
              crossOrigin: 'Anonymous'
            });
          })
        } else {
          setbackground(this.cacheImage[category][imageUrl])
        }
      } else {
        setbackground(this.defaultImage[`${category}Image`])
      }

      // 存取料號
      this.setproductDetail(category, imageUrl);
    },
    setCanvasBackground(category, img) {
      this.canvasContainer.canvasDefault.setBackgroundImage(img, this.canvasContainer.canvasDefault.renderAll.bind(this.canvasContainer.canvasDefault), {
        scaleX: this.resizeWidth / this.defaultImageWidth,
        scaleY: (this.resizeWidth / (this.defaultCanvasWidth / this.defaultCanvasHeight)) / this.defaultImageHeight,
      });
    },
    setproductDetail(category, url) {
      const id = url.split('_')[0];
      const categoryKey = category.replace('canvas', '');
      const productData = this.customSettingList[categoryKey][id];
      this.productDetail[category] = productData;
      console.log(this.productDetail);
    },
    addText() {
      if (!this.form.text) return
      const rect = new fabric.IText(this.form.text, {
        top: 50,
        left: 50,
        fill: this.textStyle.color,
        fontFamily: this.textStyle.family,
        fontSize: 50,
        editable: false,
        lockUniScaling: true
      });
      this.canvasContainer.canvasText.add(rect);
      this.textArray.push(rect)
      this.form.text = ''
    },
    deleteText(index) {
      const rect = this.textArray[index]
      this.canvasContainer.canvasText.remove(rect);
      this.textArray = this.textArray.filter((item, i) => i !== index)
    },
    customEvtHandler(evt) {
      console.log("I was triggered by a custom event.");
      // console.log(evt.target.get('fontSize') * evt.target.get('scaleX'));
      // console.log(evt.target.get('fontSize'));
    },
    handleRemove(file, fileList) {
      // 透過iview容器的位置，來找到fabric的klass位置
      const fileIndex = this.fileList.indexOf(file)
      const klass = this.canvasFileList[fileIndex]
      this.canvasContainer.canvasText.remove(klass)
      // 刪除圖檔資料
      this.fileList.splice(fileIndex, 1)
      this.canvasFileList.splice(fileIndex, 1)
    },
    handleChange(file, fileList) {
      // 新增至 iveiw file 容器
      this.fileList.push(file)
      new fabric.Image.fromURL(file.url, (img) => {
        this.canvasContainer.canvasText.add(img.set({
          left: 50,
          top: 50,
          lockUniScaling: true
        }).scale(0.5));
        // 新增至 fabric file 容器
        this.canvasFileList.push(img)
      })
    },
    exportPng() {
      this.initCanvasCollection()
      const canvasContainerArray = Object.keys(this.canvasContainer);
      canvasContainerArray.forEach((key, index) => {
        const image = this.canvasContainer[key].toDataURL('png')
        this.canvasCollection.wrapperEl.style.display = 'none';
        setTimeout(() => {
          new fabric.Image.fromURL(image, (img) => {
            this.canvasCollection.add(img);
            // 隱藏輸出的canvas
            if (index + 1 === canvasContainerArray.length) {
              // base64 輸出圖
              const exportImg = this.canvasCollection.toDataURL({
                  format: 'jpeg',
                  quality: 0.3
              });
              // window.open(exportImg)
              // var iframe = "<img src='" + exportImg + "'></img>"
              // var x = window.open();
              // x.document.open();
              // x.document.write(iframe);
              // x.document.close();
              // console.log('exportImg', exportImg);
              // console.log('productDetail', this.productDetail, this.totalPrice);
              const customData = {
                image: exportImg,
                productDetail: this.productDetail,
                totalPrice: this.totalPrice,
                amount: 1
              };
              this.addCartListCustom(customData);
              setTimeout(() => {
                this.$router.push({ path: 'Account' });
              }, 2000);
            }
          });
        }, 300);
      })
    },
    itemPrice(category, url) {
      if (url) {
        const urlSplit = url.split('_');
        const resultItem = this[`${category}List`][urlSplit[0]];
        return resultItem && `¥${resultItem.price}`;
      }
      return '';
    },
    getParentName(category) {
      return this.customInfoList[category] ? this.customInfoList[category].name : '無名稱';
    },
    getParentEnable(category) {
      return this.customInfoList[category] ? this.customInfoList[category].enable : false;
    }
  }
};
</script>

<style lang="scss" scoped>
// @import '../css/main.scss';
</style>
