<template>
  <el-container>
    <el-header>DEMO</el-header>
    <el-main>
      <el-button type="primary" @click="sendOrder">結帳</el-button>
      <iframe :src="url" width="100%" height="1240px"></iframe>
    </el-main>
  </el-container>
</template>

<script>
export default {
  data() {
    return {
      url: ''
    }
  },
  methods: {
    sendOrder() {
      const fakeData = { name: 'apple', content: 'haha', price: 100 }
      // 按鈕觸發事件
      fetch('https://us-central1-yuzu-test-170620.cloudfunctions.net/createOrder', {
        method: 'POST',
        body: JSON.stringify(fakeData),
        headers: new Headers({
          'Content-Type': 'application/json'
        })
      }).then(res => res.blob())
      .then((blob) => {
        var objectURL = URL.createObjectURL(blob);
        this.url = objectURL
      })
    }
  }
}
</script>

<style lang="css">
</style>
