@font-face {
    font-family: 'Menu Icon';
    src: url('font/menu_icon.eot');
    src: url('font/menu_icond41d.eot?#iefix') format('embedded-opentype'),
         url('font/menu_icon.woff2') format('woff2'),
         url('font/menu_icon.woff') format('woff'),
         url('font/menu_icon.ttf') format('truetype'),
         url('font/menu_icon.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}