body{
  line-height: 1.5
}
#header,#content,#footer{
	font-family: 'Open Sans';
	color: #686868;
  font-weight: 100
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6,
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6,
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6  {
  font-family: 'Open Sans';
  color: #333333;
  line-height: 1.5;
  margin: 10px 0;
}
img{
	max-width: 100%;
	height: auto;
}
#header{
	background-color: #5f9587;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
  position: relative;
  z-index: 89;
  right: 0px;
  border-bottom: 1px solid white;
  padding: 0;
  min-height: 70px
}
#header, #footer{
  color: white
}
.navbar-default {
	background-color: transparent;
	border: none;
	margin-top: 15px;
}
.nav a{
	-moz-transition: text-shadow ease-in-out 0.4s;
	-webkit-transition: text-shadow ease-in-out 0.4s;
	-o-transition: text-shadow ease-in-out 0.4s;
	transition: text-shadow ease-in-out 0.4s;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li.active>a {
	text-decoration: none;
	background-color: transparent;
}
nav a:hover, nav a {
	color: white;
	font-size: 18px;
  font-weight: normal;
	font-family: 'Roboto';
  border-bottom: 1px solid transparent;
  font-weight: 500
}
/* center the menu*/


.landing-page{
	/* background-image: url(../private/images/home_bg.html); */
	background-size: cover;
	height: 100%;
	min-height: 100%;
	left: 0;
	/*top: 50px;*/
	width: 100%;
}
.spacer{
	width: 100%;
	clear: both;
}
.transparent-white{
	background-color: rgba(255, 255, 255, 0.9);
  float: right;
}
.container-positioner {
	position: absolute !important;
  bottom: 160px;
}

#content {
    position: relative;
}
#footer/*.landing-page*/{
    position: relative;
    width: 100%;
    min-height: 70px;
    bottom: 0;
    padding: 20px 0;
    right: 0px;
    background-color: rgb(63, 63, 63);
}
#sponsored_footer{
    background: transparent;
    width: 100%;
    right: 0;
    bottom: 0;
    margin-left: 0;
    position: fixed;
    background: #EBEBEB;
    width: 100%;
    padding: 5px 0 5px 0;
    bottom: 0;
    z-index: 88;
}
#sponsored_footer a, #sponsored_footer a:hover{
  color: rgb(26, 43, 85);
  text-decoration: none;
}
#sponsored_footer img{
  height: 100%;
  width: auto;
  max-height: 26px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}
button.navbar-toggle {
    width: 34px;
    height: 34px;
    margin: 20px;
    padding: 0px;
    font-family: "Menu Icon";
}
button.navbar-toggle:before {
    content: '\e800';
    font-size: 24px;
    top: -1px;
    position: absolute;
    left: 6px;
}
.navbar-collapse {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bm-white-braker{
	border-color: #fff;
}

.input-lg {
  border-radius: 0;
}

.form-control, .form-control-fix {
	border-radius: 0;
}

.pull-right{
	float: right;
}
.min-padding .row>div{
	padding: 0 5px 5px 0;
}
.bm-map-border{
	border:5px solid #fff;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);;
}
ul.focus-list {
  list-style: none;
  padding: 0;
}
/*#content ul.focus-list li {
  background-image: url(../private/images/check_00.png);
  background-repeat: no-repeat;
  background-size: 19px 16px;
  background-position: 0px 5px;
  padding-left: 38px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}*/

.video-module iframe{
	border: 1px solid #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/*.quote{
  position: relative;
  max-width: 900px;
  text-align: center;
  float: none;
  margin: auto;
}
.quote h1{
  font-weight: bold;
}
.quote h1 span{
  font-weight: 100;
}
.floating_quote {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translate(50%,-50%);
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9);
}
.quote sub, .quote sup {
  font-family: 'Calibri';
  font-size: 60px;
  letter-spacing: 30px;
}*/

sup {
  top: -.1em;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.testemonial-facts, .action{
	position: relative;
}
.testemonial-facts .facts, .action .middle{
	position: absolute;
	top: 50%;
	width: 80%;
	  transform: translate(-50%,-50%);
  left: 50%;
}

.testemonial-facts .facts h1,.testemonial-facts .facts h2, .testemonial-facts .facts h3{
	color: #fff;
	text-shadow:1px 1px 1px #000;
}
.testemonial-facts .facts h1{
	font-size: 60px;
}
.testemonial-facts .facts h2{
	font-size: 32px;
}
.testemonial-facts .facts h3{
	font-size: 20px;
}
.price-table-wrap {
  padding: 3px;
  border: 1px solid #b2b2b2;
  text-align: center;
}
.price-table-wrap h2 {
  margin: 0;
  line-height: 64px;
  background: #f1f1f1;
  font-weight: 500;
  text-transform: none;
}
.action .middle h1, .action .middle h2 ,.action .middle h3, .action .middle h4, .action .middle p{
	color:#fff;
}
.action .middle .btn{
	  display: block;
  margin: auto;
  width: 150px;
}
.statistics-row h1, .statistics-row h3 {
	color: #fff !important;
	text-shadow:1px 1px 1px #000;
}
/**[data-focus=quote] .col-md-6 .wrapper  {
    background-color: rgba(255,255,255,0.85);
    padding: 0px 15px;
}*/
/**[data-focus=quote] .col-md-6 .wrapper  blockquote {
    font-size: 37px;
}*/
/*#content label, #content .h1, #content .h2, #content .h3, #content .h4, #content .h5, #content .h6, #content h1, #content h2, #content h3{
	font-weight: 400
}*/
/*.form-control{
	margin-bottom: 15px;
}*/


.bm-site-scope .dropdown-menu{
    background-color: rgba(255, 255, 255, 1);
    min-width: 200px;
}
.bm-site-scope .dropdown-submenu{
    position:relative;
}
.bm-site-scope .dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.bm-site-scope .dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.bm-site-scope .dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.bm-site-scope .dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.bm-site-scope .dropdown-submenu .pull-left{
    float:none;
}

.bm-site-scope .dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.bm-site-scope .root:hover > .dropdown-menu{
  display: block !important;
	left: auto;
  right: auto;
  border-radius: 0 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.bm-site-scope .root:hover > .dropdown-menu a{
  color:black;
}
.bm-site-scope .navbar-nav > li.root:nth-last-child(1) .dropdown-menu,
.bm-site-scope .navbar-nav > li.root:nth-last-child(2) .dropdown-menu{
  left: auto;
  right: 0;
}
.navbar-nav > li > a{
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s;
  -webkit-transition: border-bottom 0.5s;
}

.dropdown-menu > li{
  padding: 0 15px;
}
.dropdown-menu > li > a{
  padding: 8px 0;
  border-bottom: 1px #ccc dotted;
}
.dropdown-menu > li:last-child > a{
  border-bottom: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li >.navbar-header a:focus {
  text-decoration: none;
  background-color: transparent;
}
.navbar-header{
  max-width: 40%;
}
.navbar-brand{
    width: 100%;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    line-height: 1;
    text-transform: none !important;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    height: auto;
    line-height: 70px;
    height: auto;
    min-height: 70px;
    padding: 0
}
.navbar-brand>img{
  display: inline-block;
  padding: 5px
}
.navbar-brand:hover, .navbar-brand:active{
  color:white;
}
.navbar-brand img {
    max-width: 350px;
    width: auto;
    height: auto;
    max-height: 60px;
    padding: 0;
    vertical-align: top;
}
nav.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right {
    margin: 0 !important;
    float: left !important;
    vertical-align:middle;
    max-height: none;
}
/*.navbar-nav li.root a{
    background-image: url('../private/images/dropdown-arrow-white.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

*/
.navbar-nav li.root ul li a{
    background-image: none;
    color:white;
    text-transform: none;
}
.navbar-nav li.root ul li:last-child{
    background-image: none
}
.navbar-nav > li > a{
      padding-top: 0px;
    padding-bottom: 0px;
      line-height: 65px;

}
/*  bootstrap must die */
@media (min-width: 768px){
    .navbar-right{
      margin: 0 auto !important;
    }
    .navbar-nav{
      float: right !important;
          margin-left: -10px;
    }
}

@media (min-width: 768px) and (max-width: 1260px){
	.navbar-brand, .navbar-header {
	  float: none !important;
	  text-align: center;
	}
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse{
    text-align: center;
    width: 100%
  }
  .navbar-nav {
    float: none;
    display: inline-block;
  }
  .navbar-nav{
      float: none !important;
    }
}
@media (max-width: 768px){
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-left: 0 !important;
    margin-right: 0 !important
  }
  .transparent-white{
    float: none
  }
  .navbar-header{
    width: 100%;
    margin-right: 0 !important;
  }
  .navbar-brand{
    max-width: 250px;
    min-width: auto;
    width: 85%;
    line-height: 1.3

  }
  .navbar-brand img {
    max-width: 230px;
  }
  .navbar-toggle{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-collapse{
    text-align: center;
    width: 100%
  }
  .navbar-collapse.in{
    overflow-y:visible;
  }
  .bm-site-scope .root:hover > .dropdown-menu{
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    border-bottom: none;
    line-height: 50px;
  }

}
@media (max-width: 767px){
  .navbar-nav > li > .dropdown-menu{
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: -2px 0 0 0;
    position: relative;
    border: none;
    box-shadow: none;
  }
  .bm-site-scope .root:hover > ul.dropdown-menu {
    margin-bottom: 10px;
}
  .navbar-nav > li > .dropdown-menu li{
    margin: 5px 0;
  }
/*  .navbar-nav > li > .dropdown-menu li:hover{
    background-color: #7B7A4F !important
  }*/
}




/* Let's get this party started */
::-webkit-scrollbar {
    /* width: 6px; */
}

/* Track */
::-webkit-scrollbar-track {
    border-left:1px solid rgba(0,0,0,0.1)
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.1)
}



/* Buttons */

.btn {
  font-family: 'Open Sans';
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  color: white;
}
.btn:active, .btn:hover{
    color: #FFF;
}

.btn-boxy { border-radius: 0; }
.btn-rounded { border-radius: 10px; }
.btn-pill { border-radius: 50px; }



#header .btn-default,
#content .btn-default,
#footer .btn-default{
  background-color: white;
  border: 2px solid #305A4E;
  color: #305A4E;
  font-weight: normal;
}
#header .btn-default:hover, #header .btn-default:active,
#content .btn-default:hover, #content .btn-default:active,
#footer .btn-default:hover, #footer .btn-default:active{
  background-color: #eee;
}
#header .btn-black,
#content .btn-black,
#footer .btn-black{
  background-color:#312c32;
  border: 1px solid #000;
  color: white;
}
.btn-black:hover, .btn-black:active{
  background-color: #000;
}
#header .btn-beige,
#content .btn-beige,
#footer .btn-beige{
  background-color:#e3e0cf;
  color: black;
  border: 1px solid #79713F;
}
.btn-beige:hover, .btn-beige:active{
  background-color: #D2CEBA;
}
#header .btn-gray,
#content .btn-gray,
#footer .btn-gray{
  background-color:#9fa8a3;
  border: 1px solid #59675F;
  color: white;
}
.btn-gray:hover, .btn-gray:active{
  background-color: #85908A;
}
#header .btn-purple,
#content .btn-purple,
#footer .btn-purple{
  background-color:#22264b;
  border: 1px solid #000;
  color: white;
}
.btn-purple:hover, .btn-purple:active{
  background-color: #12152B;
}
#header .btn-brown,
#content .btn-brown,
#footer .btn-brown{
    background-color:#edd9c0;
    color: black;
  border: 1px solid #927F67;
}
.btn-brown:hover, .btn-brown:active{
  background-color: #CEB89C;
}
#header .btn-link,
#content .btn-link,
#footer .btn-link{
  background-color:transparent;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #fff
}
#header .btn-danger,
#content .btn-danger,
#footer .btn-danger{
    border: 1px solid #842623;
    color: white;
}
#header .btn-warning,
#content .btn-warning,
#footer .btn-warning{
    border: 1px solid #906425;
    color: white;
}
#header .btn-info,
#content .btn-info,
#footer .btn-info{
    border: 1px solid #32798E;
    color: white;
}
#header .btn-success,
#content .btn-success,
#footer .btn-success{
    border: 1px solid #357935;
    color: white;
}
.btn-link:hover, .btn-link:active,
.btn-beige:hover, .btn-beige:active,
.btn-brown:hover, .btn-brown:active {color: black }


.btn-xs{
  padding: 10px 15px;
  font-size: 12px;
  line-height: 1.3333333;
}
.btn-sm{
  padding: 12px 25px;
  font-size: 14px;
  line-height: 1.3333333;
}
.btn-m {
  font-size: 16px;
  padding: 15px 40px;
  line-height: 1.3333333;
}
.btn-lg{
  padding: 18px 50px;
  font-size: 18px;
  line-height: 1.3333333;
}
.btn-xl {
  padding: 20px 60px;
  font-size: 22px;
  line-height: 1.3333333;
}
div[data-module="text"] ol li, div[data-module="text"] ul li {
    font-weight: 100;
    margin: 10px 0 0 0;
    padding-bottom: 0;
}
img.img-responsive {
  display:inline-block;
}
.navbar-nav li.root a:after{
      content: '\25BE';
      margin-left:10px;
      font-size:14px;
      vertical-align: top;
}
.navbar-nav li.root ul li a:after{
      content: '';
}
.nav .container{
  width:100% !important;
  max-width: 1280px !important;
}
/*.nav .container .navbar-header{
  min-width: 40% !important;
}*/
.nav .container nav.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right{
  float: right !important
}
@media (max-width: 1260px){
  .nav .container .navbar-header{
    max-width: 100% !important;
  }
}
.cosmolia-item-meta{
    font-size: 15px !important;
    font-weight: 300 !important
}
/*.bm-quote-module blockquote{
  text-align: center;
}*/
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

/*  MENU FIX  */

#header .nav .navbar-header{
  max-width: 100%;
}
@media (min-width: 1261px){
  #header .nav .navbar-header{
    max-width: 30%;
  }
  #header .nav nav.collapse.navbar-collapse{
    max-width: 65%
  }
}






/* SUB MENU */
.nav > li > a:focus{
  outline: none !important;
}
nav ul.navbar-nav > li > a:before{
  content: "";
  position: absolute;
  bottom: -2px;
  transition: all .2s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  left: 50%;
  width: 0;
  border-bottom:2px solid transparent;
}

nav ul.dropdown-menu > li:hover > a:before,
nav ul.navbar-nav > li:hover > a:before{
  border-bottom:2px solid #f37a34;
  left: 0;
  width: 100%;
  color: #f37a34;
  display: block;
}
nav ul.dropdown-menu > li.active > a,
nav ul.navbar-nav > li.active > a{
  color: #f37a34;
}

.bm-site-scope nav ul.dropdown-menu{
  border-top: 2px solid #f37a34;
  box-shadow: none;
  margin-top: 0;
}
nav ul.dropdown-menu li a:hover{
  color: #f37a34;
}
nav ul.dropdown-menu ul.dropdown-menu li a:hover{
  border: none !important;
}
.bm-site-scope .root:hover > .dropdown-menu {
    right: auto;
    border-radius: 0 !important;
    box-shadow: none;
    margin-top: -3px;
}
.bm-site-scope .root:hover > .dropdown-menu li:hover{
    display: block !important;
}
.bm-site-scope .root:hover > .dropdown-menu ul.dropdown-menu{
  position: static !important;
  border: none !important;
  display: none
}
.bm-site-scope .root:hover > .dropdown-menu ul.dropdown-menu li{
  border: none !important;
}
.bm-site-scope .root:hover > .dropdown-menu ul.dropdown-menu li:last-child{
  border: none !important;
  border-bottom: 1px dotted #ccc !important;;
}
.bm-site-scope .root:hover > .dropdown-menu ul.dropdown-menu ul.dropdown-menu li a{
  text-indent: 10px
}
.bm-site-scope .navbar-nav > li.root:nth-last-child(1) .dropdown-menu, .bm-site-scope .navbar-nav > li.root:nth-last-child(2) .dropdown-menu {
    left: 0;
    right: auto;
}
.bm-site-scope .dropdown-menu ul.dropdown-menu li a::before {
    content: '- ';
    display: contents;
    border: none;
}
/*-----------dropdown animation------------*/


.bm-site-scope .root .dropdown-menu {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
    max-height: 0;
    display: block !important;
    overflow: hidden;
    opacity: 0;
    left: 0;
    right: auto
}

.bm-site-scope .root:hover .dropdown-menu {
    max-height: 500px;
    opacity: 1;
    left: 0;
    right: auto
}

@media (max-width: 767px){
  .nav.navbar-collapse.navbar-ex1-collapse.navbar-right.collapse {
    overflow: hidden;
  }
  .navbar-nav {
    padding-bottom: 5px;
  }
  .bm-site-scope .root:hover .dropdown-menu{
    margin-top:0px !important;
  }
  .bm-site-scope .root .dropdown-menu .dropdown-menu{
    display:block !important;
    width:100%;
    background-color:transparent
  }
}
