<template>
  <el-row>
    <el-col :span="12">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-form-item label="名稱" prop="name">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="顏色" prop="color">
          <el-input v-model="ruleForm.color"></el-input>
        </el-form-item>
        <el-form-item label="料號" prop="productNo">
          <el-input v-model="ruleForm.productNo"></el-input>
        </el-form-item>
        <el-form-item label="單價" prop="price">
          <el-input v-model="ruleForm.price" type="number"></el-input>
        </el-form-item>
        <el-form-item label="上傳圖片" prop="file">
          <el-upload
            action=""
            :file-list="ruleForm.file"
            :auto-upload="false"
            :on-change="handleChange"
            :on-remove="handleRemove"
            list-type="picture">
            <el-button size="small" type="warning" v-show="!ruleForm.file.length">点击上传</el-button>
            <div slot="tip" class="el-upload__tip" v-show="!ruleForm.file.length">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col>
      <el-button type="warning" size="small" v-if="!isEdit" @click="send">提交</el-button>
      <el-button type="warning" size="small" v-if="isEdit" @click="edit">修改</el-button>
      <el-button size="small" v-if="!isEdit" @click="resetForm">重置</el-button>
    </el-col>
  </el-row>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U';
import CustomSetting from '@S/CustomSetting'

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        color: '',
        imageUrl: '',
        file: [],
        oldFile: [],
        productNo: '',
        price: 0
      },
      rules: {
        name: [
          { required: true, message: '请输入名稱', trigger: 'blur' }
        ],
        color: [
          { required: true, message: '请输入顏色', trigger: 'blur' }
        ],
        productNo: [
          { required: true, message: '请输入料號', trigger: 'blur' }
        ],
        price: [
          { required: true, message: '请输入單價', trigger: 'blur' }
        ],
        file: [
          { required: true, message: '請上傳一張圖片', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    setStore(this, 'CustomSetting', CustomSetting)
    this.assignData()
    // 如有圖片連結則抓圖片
    if (this.ruleForm.imageUrl) {
      const storageRef = this.$firebase.storage().ref().child(`CustomSetting/${this.ruleForm.imageUrl}`)
      storageRef.getDownloadURL().then((url) => {
        this.ruleForm.file.push({ name: this.ruleForm.imageUrl, url })
        this.ruleForm.oldFile.push({ name: this.ruleForm.imageUrl, url })
      })
    }
  },
  beforeDestroy() {
    // 將選擇值清空
    this.setCustomSelectId(0)
  },
  computed: {
    ...mapGetters([
      'customCategory',
      'customSettingList',
      'customSelectId',
      'mainName'
    ]),
    isEdit() {
      return this.mainName === 'EditCustom'
    }
  },
  methods: {
    ...mapActions([
      'createCustomSetting',
      'setCustomSelectId',
      'updateCustomSetting',
      'updateImage',
      'createImage'
    ]),
    assignData() {
      Object.assign(this.ruleForm, this.customSettingList[this.customCategory] && this.customSettingList[this.customCategory][this.customSelectId])
    },
    handleChange(file, fileList) {
      // 新增至 iveiw file 容器
      this.ruleForm.file.push(file)
    },
    handleRemove(file, fileList) {
      this.ruleForm.file.pop()
    },
    send() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          await this.createCustomSetting(this.ruleForm)
          this.$emit('back')
        } else {
          return false;
        }
      });
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
    edit() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          await this.updateCustomSetting(this.ruleForm);
          this.$emit('back');
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
