<template>
  <el-row>
    <el-col>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-form-item label="名稱" prop="name">
          <el-input size="small" v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="啟用" prop="enable">
          <el-checkbox v-model="ruleForm.enable"></el-checkbox>
          <!-- <el-input size="small" v-model="ruleForm.name"></el-input> -->
        </el-form-item>
      </el-form>
    </el-col>
    <el-col style="text-align: center">
      <el-button type="warning" size="small" @click="edit">修改</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        enable: true
      },
      rules: {
        name: [
          { required: true, message: '请输入名稱', trigger: 'blur' }
        ],
      }
    }
  },
  mounted() {
    this.assignData();
  },
  watch: {
    customCategory() {
      this.assignData();
    }
  },
  computed: {
    ...mapGetters([
      'customInfoList',
      'customCategory'
    ]),
  },
  methods: {
    ...mapActions([
      'updateCustomInfo'
    ]),
    edit() {
      this.updateCustomInfo(this.ruleForm);
    },
    assignData() {
      Object.assign(this.ruleForm, this.customInfoList[this.customCategory]);
    },
  }
}
</script>

<style lang="css">
</style>
