<template>
  <el-row>
    <el-col>
      <el-tabs v-model="activeName">
        <el-tab-pane :label="getParentName('Primary')" name="Primary"></el-tab-pane>
        <el-tab-pane :label="getParentName('CoatA')" name="CoatA"></el-tab-pane>
        <el-tab-pane :label="getParentName('Stick')" name="Stick"></el-tab-pane>
        <el-tab-pane :label="getParentName('CoatB')" name="CoatB"></el-tab-pane>
        <el-tab-pane :label="getParentName('Handle')" name="Handle"></el-tab-pane>
        <el-tab-pane :label="getParentName('Rope')" name="Rope"></el-tab-pane>
        <el-tab-pane :label="getParentName('Sash')" name="Sash"></el-tab-pane>
        <el-tab-pane :label="getParentName('Cover')" name="Cover"></el-tab-pane>
      </el-tabs>
    </el-col>
    <el-col>
      <div style="float: left;">
        <span>狀態：</span>
        <span class="text" :class="{ red: !parentEnable, green: parentEnable }">
          {{parentEnable ? '啟用' : '停用'}}
        </span>
      </div>
      <div style="float: right;">
        <el-button size="small" @click="renameClick">編輯資料</el-button>
        <el-button size="small" type="warning" @click="add">{{$t('add')}}</el-button>
      </div>
    </el-col>
    <el-col>
      <el-table
        :data="dataList"
        style="width: 100%"
        :max-height="tableHeight">
        <el-table-column
          label=""
          width="100">
          <template slot-scope="scope">
            <img width="50" height="50" :ref="`img${scope.$index}`" :src="imageUrl(scope)" :key="`${customCategory}_${scope.$index}`"/>
            <!-- <span>{{scope.row.imageUrl}}</span> -->
          </template>
        </el-table-column>
        <el-table-column
          label="顏色名稱"
          prop="name"
          width="180">
        </el-table-column>
        <el-table-column
          label="顏色"
          prop="color"
          width="180">
          <!-- <template slot-scope="scope">
            <i class="fas fa-palette"></i>
            <span style="margin-left: 10px">{{ scope.row.color }}</span>
          </template> -->
        </el-table-column>
        <el-table-column
          label="單價"
          prop="price"
          width="180">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { setStore } from '@U'
import CustomSetting from '@S/CustomSetting'

export default {
  data() {
    return {}
  },
  created() {
    setStore(this, 'CustomSetting', CustomSetting)
    this.fetchCustomSettingList();
    this.fetchCustomInfo();
  },
  mounted() {
    const elementTable = document.querySelector('.el-table__body-wrapper');
    elementTable.addEventListener('scroll', function() {
      const headerHeight = 48
      if ((this.scrollTop + this.clientHeight) === this.scrollHeight) {
        console.log('ok');
      }
    })
  },
  computed: {
    ...mapGetters([
      'customCategory',
      'customSettingList',
      'customInfoList'
    ]),
    activeName: {
      set(val) {
        this.setCategory(val)
      },
      get() {
        return this.customCategory
      }
    },
    dataList() {
      return Object.values(this.customSettingList[this.activeName] || {})
    },
    tableHeight() {
      return document.documentElement.offsetHeight - 300
    },
    parentEnable() {
      return this.customInfoList[this.customCategory] ? this.customInfoList[this.customCategory].enable : false;
    }
  },
  methods: {
    ...mapActions([
      'deleteCustomSetting',
      'fetchCustomSettingList',
      'pushBreadcrumb',
      'setCategory',
      'setCustomSelectId',
      'fetchImageUrl',
      'setSubMainData',
      'fetchCustomInfo'
    ]),
    handleEdit(index, row) {
      this.pushBreadcrumb('EditCustom')
      this.setCustomSelectId(row.id)
    },
    handleDelete(index, row) {
      this.deleteCustomSetting(row)
    },
    add() {
      this.pushBreadcrumb('AddCustom')
    },
    imageUrl({ $index, row }) {
      const path = `CustomSetting/${row.imageUrl}`
      this.fetchImageUrl({ path }).then((url) => {
        this.$refs[`img${$index}`].src = url
      })
      return 'http://fakeimg.pl/50x50/?text=Loading&font=lobster'
    },
    renameClick() {
      this.setSubMainData({
        show: true,
        name: 'EditParent'
      });
    },
    getParentName(category) {
      return this.customInfoList[category] ? this.customInfoList[category].name : '無名稱';
    }
  }
}
</script>

<style lang="css">
</style>
