<template>
  <el-menu
    :default-active="menuIndex"
    class="el-menu-vertical-demo"
    background-color="#545c64"
    text-color="#fff"
    active-text-color="#ffd04b"
    @select="select">
    <el-menu-item v-for="(item, index) in menuList" :index="`${index}`" :key="index">
      <i :class="item.icon"></i>
      <span slot="title">{{$t(item.name)}}</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { menuList } from '@U/dataConfig.js'

export default {
  data() {
    return {
      menuList
    }
  },
  methods: {
    ...mapActions([
      'setMainName',
      // 'setBreadcrumb'
    ]),
    select(index, indexPath) {
      this.setMainName(this.menuList[index].name)
      // this.setBreadcrumb(this.menuList[index].title)
    }
  },
  computed: {
    ...mapGetters([
      'mainName',
      'breadcrumb'
    ]),
    menuIndex() {
      const obj = this.menuList.find(item => item.name === (this.breadcrumb[0] || this.mainName))
      return this.menuList.indexOf(obj).toString()
    }
  }
}
</script>

<style lang="css">
</style>
