.el-header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(84, 92, 100);
  color: #E9EEF3;
  line-height: 60px;
  border-bottom: 1px solid #868686;
}

.el-aside {
  background-color: rgb(84, 92, 100);
  height: calc(100vh - 60px);
  color: #333;
}

.el-menu {
  border-right: 0px !important;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  height: calc(100vh - 60px);
  // line-height: 160px;
}

.main-container {
  margin: 20px 0 0 0;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 5px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.data-form {
  width: 50%;
}

.logo {
  background-image: url('../assets/golf-logo.png');
  width: 60px;
  height: 60px;
  background-size: 50px 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.text {
  &.red {
    color: #F56C6C;
  }

  &.green {
    color: #67C23A;
  }
}

input[type=file] {
  display: none !important;
}

.admin-user {
  margin-right: 1rem;
}

.el-dropdown {
  // margin-right: 3rem;
  .el-dropdown-link {
    cursor: pointer;
    color: #E9EEF3;
  }
}

// body > .el-container {
//   margin-bottom: 40px;
// }
//
// .el-container:nth-child(5) .el-aside,
// .el-container:nth-child(6) .el-aside {
//   line-height: 260px;
// }
//
// .el-container:nth-child(7) .el-aside {
//   line-height: 320px;
// }
