// @import './reset.scss';

.el-header-main {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    // height: calc(100vh - 60px);
    // height: 2000px;
    /* line-height: 160px; */
}

.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.picture-container {
  background-color: #ccc;
}


.canvas-controller {
  padding-left: 1rem;
}

.left {
  float: left;
}

.content-container {
  padding: 20px 20px;
}

.category-item {
  margin: 20px 0 0 0;
  padding: 0 20px;
  font-size: 18pt;
}

.product-item {
  padding-right: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

input[type=file] {
  display: none !important;
}

.padding {
  padding: 2rem;
  &.right {
    padding: 0;
    padding-right: 2rem;
  }
}

.float-right {
  float: right !important;
}

.product-description {
  &:first-child {
    font-size: 18pt;
    margin-bottom: 2rem;
  }
  margin-bottom: 1rem;
}

.content-title {
  display: block;
  text-align: center;
  margin: 1rem 0;
  font-size: 26px;
  color: #614276;
}

.content-center {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}
