<template>
  <el-row>
    <el-col>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
        <el-form-item label="名稱" prop="name">
          <el-input v-model="ruleForm.name" size="small"></el-input>
        </el-form-item>
        <el-form-item label="狀態" prop="status">
          <el-select v-model="ruleForm.status" size="small">
            <el-option
              v-for="item in statusList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col style="text-align: center">
      <el-button type="warning" size="small" v-if="!isEdit" @click="send">提交</el-button>
      <el-button type="warning" size="small" v-if="isEdit" @click="edit">修改</el-button>
      <el-button size="small" v-if="!isEdit" @click="resetForm">重置</el-button>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        status: true
      },
      rules: {
        name: [
          { required: true, message: '請輸入資料', trigger: 'blur' }
        ],
      }
    }
  },
  mounted() {
    this.isEdit && this.assignData();
  },
  computed: {
    ...mapGetters([
      'subMainData',
      'productCategoryList'
    ]),
    statusList() {
      return [
        { label: '啟用', value: true },
        { label: '停用', value: false },
      ]
    },
    isEdit() {
      return this.subMainData.name === 'EditProductCategory'
    },
    isShow() {
      return this.subMainData.show
    },
  },
  watch: {
    isShow() {
      if (this.isShow) {
        this.assignData();
      }
    }
  },
  methods: {
    ...mapActions([
      'createProductCategory',
      'updateProductCategory'
    ]),
    assignData() {
      Object.assign(this.ruleForm, this.productCategoryList[this.subMainData.id]);
    },
    send() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          this.createProductCategory(this.ruleForm);
        } else {
          return false;
        }
      });
    },
    edit() {
      this.$refs.ruleForm.validate((valid) => {
        console.log(valid);
        if (valid) {
          this.updateProductCategory(this.ruleForm);
        } else {
          return false;
        }
      })
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
  }
}
</script>

<style lang="css">
</style>
