<template>
<el-row>
  <el-col :span="12">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
      <el-form-item label="名稱" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="類別" prop="categoryId">
        <el-col :span="24">
          <el-select v-model="ruleForm.categoryId" placeholder="请选择" style="width: 100%;">
            <el-option v-for="item in categoryList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4" v-if="!isEdit">
          <el-button type="text" style="width: 100%;" @click="categoryHandleClick">類別管理</el-button>
        </el-col>
      </el-form-item>
      <el-form-item label="商品編號" prop="productNo">
        <el-input v-model="ruleForm.productNo"></el-input>
      </el-form-item>
      <el-form-item label="Material材質" prop="material">
        <el-input v-model="ruleForm.material"></el-input>
      </el-form-item>
      <el-form-item label="顏色" prop="color">
        <el-input v-model="ruleForm.color"></el-input>
      </el-form-item>
      <el-form-item label="重量" prop="weight">
        <el-input v-model="ruleForm.weight" type="number">
          <template slot="append">kg</template>
        </el-input>
      </el-form-item>
      <el-form-item label="口徑" prop="caliber">
        <el-input v-model="ruleForm.caliber">
          <template slot="append">吋</template>
        </el-input>
      </el-form-item>
      <el-form-item label="上傳圖片" prop="file">
        <el-upload action="" :file-list="ruleForm.file" :auto-upload="false" :multiple="true" :limit="4" :on-change="handleChange" :on-remove="handleRemove" list-type="picture">
          <el-button size="small" type="warning" v-show="ruleForm.file.length < 4">点击上传</el-button>
          <div slot="tip" class="el-upload__tip" v-show="ruleForm.file.length < 4">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
      </el-form-item>
    </el-form>
  </el-col>
  <el-col>
    <el-button type="warning" size="small" v-if="!isEdit" @click="send">提交</el-button>
    <el-button type="warning" size="small" v-if="isEdit" @click="edit">修改</el-button>
    <el-button size="small" v-if="!isEdit" @click="resetForm">重置</el-button>
  </el-col>
</el-row>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex';

export default {
  data() {
    return {
      ruleForm: {
        name: '',
        categoryId: '',
        material: '',
        color: '',
        productNo: '',
        weight: 0,
        caliber: '',
        file: [],
        oldFile: [],
      },
      rules: {
        name: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        categoryId: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        productNo: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        material: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        color: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        weight: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        caliber: [{
          required: true,
          message: '請輸入資料',
          trigger: 'blur'
        }],
        file: [{
          required: true,
          message: '請上傳一張圖片',
          trigger: 'blur'
        }]
      }
    }
  },
  created() {
    this.assignData();
    this.fetchProductCategory();
    // 如有圖片連結則抓圖片
    if (this.ruleForm.files) {
      this.ruleForm.files.forEach((item) => {
        const storageRef = this.$firebase.storage().ref().child(`Products/${item.imageUrl}`);
        storageRef.getDownloadURL().then((url) => {
          this.ruleForm.file.push({
            name: item.fileName,
            url
          })
          this.ruleForm.oldFile.push({
            name: item.fileName,
            url
          })
        })
      })
    }
  },
  beforeDestroy() {
    // 將選擇值清空
    this.setProductSelectId(0)
  },
  computed: {
    ...mapGetters([
      'mainName',
      'productCategoryList',
      'productList',
      'productSelectId'
    ]),
    isEdit() {
      return this.mainName === 'EditProduct';
    },
    categoryList() {
      return Object.values(this.productCategoryList || {});
    }
  },
  methods: {
    ...mapActions([
      'updateProduct',
      'pushBreadcrumb',
      'fetchProductCategory',
      'createProduct',
      'setProductSelectId'
    ]),
    assignData() {
      console.log(this.productList);
      Object.assign(this.ruleForm, this.productList[this.productSelectId])
    },
    categoryHandleClick() {
      this.pushBreadcrumb('ProductCategory');
    },
    handleChange(file, fileList) {
      // 新增至 iveiw file 容器
      this.ruleForm.file.push(file)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.ruleForm.file = fileList;
      // this.ruleForm.file.pop()
    },
    async send() {
      console.log(this.ruleForm);
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          await this.createProduct(this.ruleForm)
          this.$emit('back')
        } else {
          return false;
        }
      });
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
    edit() {
      console.log(this.ruleForm);
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          await this.updateProduct(this.ruleForm);
          this.$emit('back');
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
