<template>
<el-row>
  <el-col style="text-align: right;">
    <el-button size="small" type="warning" @click="add">{{$t('add')}}</el-button>
  </el-col>
  <el-col>
    <el-table :data="dataList" style="width: 100%" :max-height="tableHeight">
      <!-- <el-table-column
          label=""
          width="100">
          <template slot-scope="scope">
            <img width="50" height="50" :ref="`img${scope.$index}`" :src="imageUrl(scope)" :key="`${customCategory}_${scope.$index}`"/>
          </template>
        </el-table-column> -->
      <el-table-column label="商品編號" prop="productNo" width="180">
      </el-table-column>
      <el-table-column label="名稱" prop="name" width="180">
      </el-table-column>
      <el-table-column label="類別" prop="categoryName" width="180">
      </el-table-column>
      <el-table-column label="顏色" prop="color" width="180">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-col>
</el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { setStore } from '@U'
import Products from '@S/Products';

export default {
  created() {
    setStore(this, 'Products', Products);
    this.fetchProductList();
  },
  computed: {
    ...mapGetters([
      'productList'
    ]),
    dataList() {
      return Object.values(this.productList || {})
    },
    tableHeight() {
      return document.documentElement.offsetHeight - 300
    },
  },
  methods: {
    ...mapActions([
      'pushBreadcrumb',
      'fetchProductList',
      'setProductSelectId',
      'deleteProduct'
    ]),
    add() {
      this.pushBreadcrumb('AddProduct');
    },
    handleEdit(index, row) {
      console.log(row);
      this.pushBreadcrumb('EditProduct');
      this.setProductSelectId(row.id);
    },
    handleDelete(index, row) {
      this.deleteProduct(row);
    }
  }
}
</script>

<style lang="css">
</style>
