<template>
  <el-row>
    <el-col style="text-align: right;">
      <el-button size="small" type="warning" @click="add">{{$t('add')}}</el-button>
    </el-col>
    <el-col>
      <el-table
        :data="dataList"
        style="width: 100%">
        <el-table-column
          label="類別名稱"
          prop="name">
        </el-table-column>
        <el-table-column
          label="狀態"
          prop="status">
          <template slot-scope="scope">
            <span
              class="text"
              :class="scope.row.status ? 'green' : 'red'">{{scope.row.status ? '啟用' : '停用'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">修改</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      ruleForm: {
        name: '',
      },
      rules: {
        name: [
          { required: true, message: '請輸入資料', trigger: 'blur' }
        ],
      }
    }
  },
  created() {
    this.fetchProductCategory();
  },
  computed: {
    ...mapGetters([
      'productCategoryList'
    ]),
    dataList() {
      return Object.values(this.productCategoryList || {});
    }
  },
  methods: {
    ...mapActions([
      'fetchProductCategory',
      'createProductCategory',
      'setSubMainData',
      'deleteProductCategory'
    ]),
    add() {
      this.setSubMainData({
        show: true,
        name: 'AddProductCategory'
      })
    },
    handleEdit(index, row) {
      console.log(index, row);
      this.setSubMainData({
        show: true,
        name: 'EditProductCategory',
        id: row.id
      })
    },
    handleDelete(index, row) {
      this.deleteProductCategory(row);
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
  }
}
</script>

<style lang="css">
</style>
