<template>
  <el-container>
    <el-header class="el-header-admin">
      <div style="display: flex;">
        <i class="logo"></i>
        <span>{{$t('admin-title')}}</span>
      </div>
      <div>

        <span class="admin-user">擁有者：最高管理員</span>
        <!-- <i class="fas fa-lg fa-sign-out-alt" style="cursor: pointer;"></i> -->
        <el-dropdown @command="changeLang">
          <span class="el-dropdown-link">
            <i class="fas fa-cog fa-fw"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="tw">繁體中文</el-dropdown-item>
            <el-dropdown-item command="en">English</el-dropdown-item>
            <el-dropdown-item divided>登出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-container>
      <!-- 左側菜單 -->
      <el-aside width="200px">
        <Menu />
      </el-aside>
      <!-- 主內頁 -->
      <el-main>
        <div class="main-header">
          <!-- 麵包屑 -->
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>{{$t('Home')}}</el-breadcrumb-item>
            <el-breadcrumb-item v-for="item in breadcrumb" :key="item">{{$t(item)}}</el-breadcrumb-item>
          </el-breadcrumb>
          <el-button size="small" v-if="breadcrumb.length > 1" @click="back">{{$t('back')}}</el-button>
        </div>
        <!-- 主內容 -->
        <div class="main-container">
          <component :is="mainName" @back="back"/>
        </div>
      </el-main>
    </el-container>
    <!-- 次要頁面彈跳視窗 -->
    <el-dialog
      :title="$t(subMainData.name)"
      :visible.sync="subMainData.show"
      @close="subMainClose">
      <component :is="subMainData.name" @back="back" ref="subMain"/>
    </el-dialog>
  </el-container>
</template>

<script>
import Menu from '@C/Menu.vue'
import { menuList } from '@U/dataConfig.js'
import { mapGetters, mapActions } from 'vuex'
import { setLang } from '@U';

export default {
  components: {
    Menu,
    AboutUs: () => import(/* webpackChunkName: 'AboutUs' */ '@A/AboutUs'),
    AddProduct: () => import(/* webpackChunkName: 'AddProduct' */ '@A/Products/AddProduct'),
    AddCustom: () => import(/* webpackChunkName: 'AddCustom' */ '@A/CustomSetting/AddCustom'),
    AddMember: () => import(/* webpackChunkName: 'AddMember' */ '@A/Members/AddMember'),
    AddManager: () => import(/* webpackChunkName: 'AddManager' */ '@A/Managers/AddManager'),
    AddProductCategory: () => import(/* webpackChunkName: 'AddProductCategory' */ '@A/Products/AddProductCategory'),
    ContactUs: () => import(/* webpackChunkName: 'ContactUs' */ '@A/ContactUs'),
    CustomSetting: () => import(/* webpackChunkName: 'CustomSetting' */ '@A/CustomSetting'),
    EditCustom: () => import(/* webpackChunkName: 'AddCustom' */ '@A/CustomSetting/AddCustom'),
    EditMember: () => import(/* webpackChunkName: 'EditMember' */ '@A/Members/AddMember'),
    EditManager: () => import(/* webpackChunkName: 'EditManager' */ '@A/Managers/AddManager'),
    EditParent: () => import(/* webpackChunkName: 'EditParent' */ '@A/CustomSetting/EditParent'),
    EditProductCategory: () => import(/* webpackChunkName: 'AddProductCategory' */ '@A/Products/AddProductCategory'),
    EditProduct: () => import(/* webpackChunkName: 'AddProduct' */ '@A/Products/AddProduct'),
    Managers: () => import(/* webpackChunkName: 'Managers' */ '@A/Managers'),
    Members: () => import(/* webpackChunkName: 'Members' */ '@A/Members'),
    Orders: () => import(/* webpackChunkName: 'Orders' */ '@A/Orders'),
    ProductCategory: () => import(/* webpackChunkName: 'ProductCategory' */ '@A/Products/ProductCategory'),
    Products: () => import(/* webpackChunkName: 'Products' */ '@A/Products'),
    ViewOrder: () => import(/* webpackChunkName: 'ViewOrder' */ '@A/Orders/ViewOrder'),
  },
  beforeDestroy() {
    // 離開頁面時 麵包屑及頁面重置
    this.setMainName()
  },
  computed: {
    ...mapGetters([
      'mainName',
      'breadcrumb',
      'subMainData'
    ]),
    title() {
      return menuList.find(item => item.name === this.mainName).title
    }
  },
  methods: {
    ...mapActions([
      'setBreadcrumb',
      'popBreadcrumb',
      'setMainName',
      'setSubMainData'
    ]),
    back() {
      // 回到上一個麵包屑頁面
      this.popBreadcrumb()
    },
    subMainClose() {
      this.$refs.subMain.resetForm && this.$refs.subMain.resetForm();
      this.setSubMainData({ id: '' })
    },
    changeLang(lang) {
      if(lang) {
        setLang(lang);
      } else {
        alert('登出');
      }
    }
  }
}
</script>

<style lang="scss">
@import '../css/admin.scss';
</style>
